
    $header-height:3.5rem;
// Should be a little lower than the header height
    $header-logo: 2rem;


// $cube-white:#fff;
// $cube-blue:#5c94bd;
// $cube-red:#e8647c;
// $cube-orange:#ec9b3b;
// $cube-yellow:#f6f078;
// $cube-green:#42b883;

$cube-white:#fff;
$cube-blue:blue;
$cube-red:red;
$cube-orange:orange;
$cube-yellow:yellow;
$cube-green:green;