@import url("https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

html, body {
  overflow: none;
  height: 100vh;
  width: 100vw;
}

html {
  font-size: 17px;
}

@media (max-width: 900px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 13px;
  }
}

#body {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#body-container {
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 100%;
}

@media (min-width: 768px) {
  #body-container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  #body-container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  #body-container {
    width: 1170px;
  }
}

#body-header {
  height: 3.5rem;
}

#body-body {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  margin-right: .5vw;
}

@media (min-width: 500px) {
  .header-logo {
    margin-right: 2rem;
  }
}

@media (min-width: 900px) {
  .header-logo {
    margin-right: 4rem;
  }
}

.header-nav {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
}

.hl-img {
  height: 2rem;
  width: 2rem;
  margin: 0 .6rem;
}

.hl-title {
  display: inline-block;
  font-family: 'Roboto Slab';
  color: #FFF;
}

.hnav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.hnav-item {
  color: white;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: .4rem;
  border-radius: 1px;
  margin-right: 0;
  padding: 5px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Raleway';
  text-transform: uppercase;
  font-weight: 200;
  text-shadow: black 0px 3px 20px;
}

.hnav-item:nth-child(1) {
  background-color: #e8647c;
}

.hnav-item:nth-child(2) {
  background-color: #5c94bd;
}

.hnav-item:nth-child(3) {
  background-color: #ec9b3b;
}

.hnav-item:nth-child(4) {
  background-color: #42b883;
}

.carousel {
  position: relative;
  width: 75vw;
  height: 95%;
  margin: 0 auto;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 0.35s ease;
  transition: -webkit-transform 0.35s ease;
  transition: transform 0.35s ease;
  transition: transform 0.35s ease, -webkit-transform 0.35s ease;
}

.carousel .sides {
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
}

.carousel .sides:nth-child(1) {
  background-color: #e8647c;
}

.carousel .sides:nth-child(1), .carousel .sides:nth-child(1) .front {
  -webkit-transform: translateZ(32.5vw);
          transform: translateZ(32.5vw);
}

.carousel .sides:nth-child(2) {
  background-color: #5c94bd;
}

.carousel .sides:nth-child(2), .carousel .sides:nth-child(2) .right {
  -webkit-transform: rotateY(-270deg) translateX(32.5vw);
          transform: rotateY(-270deg) translateX(32.5vw);
  -webkit-transform-origin: top right;
          transform-origin: top right;
}

.carousel .sides:nth-child(3) {
  background-color: #ec9b3b;
}

.carousel .sides:nth-child(3), .carousel .sides:nth-child(3) .back {
  -webkit-transform: translateZ(-32.5vw) rotateY(180deg);
          transform: translateZ(-32.5vw) rotateY(180deg);
}

.carousel .sides:nth-child(4) {
  background-color: #42b883;
}

.carousel .sides:nth-child(4), .carousel .sides:nth-child(4) .left {
  -webkit-transform: rotateY(270deg) translateX(-32.5vw);
          transform: rotateY(270deg) translateX(-32.5vw);
  -webkit-transform-origin: center left;
          transform-origin: center left;
}

@media (min-width: 1200px) {
  .carousel {
    width: 1170px;
  }
  .carousel .sides {
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
  }
  .carousel .sides:nth-child(1) {
    background-color: #e8647c;
  }
  .carousel .sides:nth-child(1), .carousel .sides:nth-child(1) .front {
    -webkit-transform: translateZ(585px);
            transform: translateZ(585px);
  }
  .carousel .sides:nth-child(2) {
    background-color: #5c94bd;
  }
  .carousel .sides:nth-child(2), .carousel .sides:nth-child(2) .right {
    -webkit-transform: rotateY(-270deg) translateX(585px);
            transform: rotateY(-270deg) translateX(585px);
    -webkit-transform-origin: top right;
            transform-origin: top right;
  }
  .carousel .sides:nth-child(3) {
    background-color: #ec9b3b;
  }
  .carousel .sides:nth-child(3), .carousel .sides:nth-child(3) .back {
    -webkit-transform: translateZ(-585px) rotateY(180deg);
            transform: translateZ(-585px) rotateY(180deg);
  }
  .carousel .sides:nth-child(4) {
    background-color: #42b883;
  }
  .carousel .sides:nth-child(4), .carousel .sides:nth-child(4) .left {
    -webkit-transform: rotateY(270deg) translateX(-585px);
            transform: rotateY(270deg) translateX(-585px);
    -webkit-transform-origin: center left;
            transform-origin: center left;
  }
}

.carousel[data-slide="1"] {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.carousel[data-slide="2"] {
  -webkit-transform: rotateY(-90deg);
          transform: rotateY(-90deg);
}

.carousel[data-slide="3"] {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.carousel[data-slide="4"] {
  -webkit-transform: rotateY(-270deg);
          transform: rotateY(-270deg);
}

.cf:before, .sides:before,
.cf:after, .sides:after {
  content: " ";
  display: table;
}

.cf:after, .sides:after {
  clear: both;
}

.cf, .sides {
  *zoom: 1;
}
/*# sourceMappingURL=main.css.map */